:root {
    --primary:white;
    --secondary: black
    ;
    
  }
@tailwind base;
* {
  scrollbar-width: thin;
  scrollbar-color: var(--secondary) var(--primary);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 15px;
  height: 16px;

}

*::-webkit-scrollbar-track {
  background: var(--s);
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--secondary);
  border-radius: 40px;
  border: 3px solid var(--primary);
  
}

@tailwind components;
@tailwind utilities;


